@font-face {
  font-family: 'Aeonik';
  src: url('Aeonik-Regular.otf') format('opentype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Aeonik';
  src: url('Aeonik-RegularItalic.otf') format('opentype');
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: 'Aeonik';
  src: url('Aeonik-Bold.otf') format('opentype');
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: 'Aeonik';
  src: url('Aeonik-BoldItalic.otf') format('opentype');
  font-style: italic;
  font-weight: bold;
}

.App {
  width: 720px;
  display: flex;
  flex-direction: column;
  min-width: 250px;
  font-family: 'Aeonik', sans-serif;
  font-weight: 500;
}

/* pre {
  font-family: 'Aeonik', sans-serif;
  font-weight: 500;
  font-size: 16px;
  word-wrap: break-word;
  white-space: pre-wrap;
  line-height: 24px;
} */

/* pre > p, pre > ul, pre > li {
  margin: 0;
} */

@media only screen and (max-width: 720px) {
  .App {
    width: 100%;
  }
}

/* Header */

header {
  width: 60%;
  display: flex;
  justify-content: center;
  padding: 24px;
  position: absolute;
  top: 0;
  left: 20%;
}

@media only screen and (max-width: 720px) {
  header {
    width: 100%;
    left: unset;
  }
}

header > div {
  width: 50%;
  font-size: 14px;
}

header > div > a {
  text-decoration: none;
  color: #7E7E7E;
  padding: 10px;
}

header > div > a:hover {
  cursor: pointer;
}

header > div:first-child {
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  padding: 24px;
}

header > div:last-child{
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;
  padding: 24px;
}

/* Main */

main {
  width: 100%;
  height: 100vh;
}

main > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0;
  position: relative;
}

main > div > img {
  margin-top: 24px;
  width: 80px;
}

main > div > h1 {
  font-size: 65px;
  margin: 0;
  margin-top: 20px;
}

main > div > h2 {
  font-size: 18px;
}

@media only screen and (max-width: 720px) {
  main > div > img {
    width: 80px;
  }
  main > div > h1 {
    font-size: 36px;
  }
  main > div > h2 {
    font-size: 16px;
  }
}

@media only screen and (max-width: 400px) {
  main > div > h2 {
    font-size: 14px;
  }
}

main > div > div {
  width: 100%;
  text-align: left;
  font-size: 16px;
  overflow-y: auto;
  height: calc(100vh - 424px);
  padding-right: 15px;
  /* z-index: 1; */
}

@media only screen and (max-width: 750px) {
  main > div > div {
    padding-left: 24px;
  }
  .scrollable {
    width: 90%;
  }
}

main > div > div::-webkit-scrollbar {
  width: 2px;
  background-color: #ebebeb;
  border-radius: 2px;
}
main > div > div::-webkit-scrollbar-thumb {
  background-color: #0657F9;
  border-radius: 2px;
}
main > div > div::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
  background-color: #ebebeb;
  border-radius: 2px;
}
main > div > div {
  scrollbar-width: thin;
  scrollbar-color: #0657F9 #ebebeb;
  border-radius: 2px;
  /* line-height: 16px; */
}

main > div > div > .questionsAnswers {
  margin-bottom: 40px;
}
main > div > .white-fade {
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 63%, rgba(255,255,255,1) 100%);
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 5px);
  height: 100px;
}

@media only screen and (max-width: 750px) {
  main > div > .white-fade {
    width: calc(100% - 35px);
  }
}


.loading-dots {
  animation: dots 0.5s linear infinite;
  coloer: #0657F9
}

@keyframes dots {
  0%, 20% {
    color: rgba(6, 87, 249, 0);
    text-shadow:
      .25em 0 0 rgba(6, 87, 249, 0),
      .5em 0 0 rgba(6, 87, 249, 0);
  }
  40% {
    color: #0657F9;
    text-shadow:
      .25em 0 0 rgba(6, 87, 249, 0),
      .5em 0 0 rgba(6, 87, 249, 0);
  }
  60% {
    color: rgba(6, 87, 249, 0);
    text-shadow:
      .25em 0 0 #0657F9,
      .5em 0 0 rgba(6, 87, 249, 0);
  }
  80%, 100% {
    color: rgba(6, 87, 249, 0);
    text-shadow:
      .25em 0 0 rgba(6, 87, 249, 0),
      .5em 0 0 #0657F9;
  }
}

/* Footer */

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 24px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  position: relative;
  top: 30px
}

footer > div > a {
  border: none;
  color: #5B5B5B;
  background-color: #F4F4F4;
  padding: 10px;
  margin: 0;
  /* position: relative; */
  /* top: 35px; */
  font-size: 14px;
}

footer > div > a:hover {
  cursor: pointer;
}

@media only screen and (max-width: 750px) {
  .buttons {
    position: relative;
    top: -32px
  }
}

footer > span {
  font-size: 12px;
  color: #5B5B5B;
}

footer > div {
  width: 100%;
  max-width: 720px;
}

footer > div > input {
  margin-bottom: 32px;
  padding: 20px;
  width: 100%;
  max-width: 720px;
  border: none;
  background: #F4F4F4;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.16);
  position: relative;
  font-size: 16px;
  placeholder-color: #9D9D9D;
}

footer > div > input::placeholder { 
  color: #9D9D9D; 
}

footer > div > input[type="text"], select {
  outline: none;
}

footer > div > input[type="text"] {
  outline: none;
  padding-right: 55px;
}

footer > div > img {
  z-index: 1;
  position: relative;
  top: 62px;
  left: 330px;
  width: 60px;
  padding: 18px;
}

footer > div > img:hover {
  cursor: pointer;
}

@media only screen and (max-width: 750px) {
  footer > div > img {
    position: absolute;
    left: unset;
    right: 23px;
    top: 41px;
  }
}